In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data_path = "../data/MSA_Practicum_Data_v1.0/"

### Accounts
No missing values

In [84]:
account_data = pd.read_csv(data_path + "accounts.csv", dtype=str)
print(f"shape: {account_data.shape}")
account_data.head()

shape: (75252, 3)

  global_transaction_id ticket_num      account_num_hash
0          000000000002       2529  07137282970344898644
1          000000000004       2531  01006825571181167519
2          000000000005       2532  04778982719252047857
3          000000000006       2533  01006825571181167519
4          000000000015       2542  13744291601319509904

### Transaction Data
No missing values

In [102]:
transaction_data = pd.read_csv(data_path + "transactions.csv", dtype=str)
transaction_data['num_items'] = pd.to_numeric(transaction_data.num_items)
transaction_data['ticket_total_value'] = pd.to_numeric(transaction_data.ticket_total_value)
transaction_data['date'] = pd.to_datetime(transaction_data.date)
print(f"shape: {transaction_data.shape}")
transaction_data.head()

shape: (124934, 8)

,global_transaction_id,store_num,ticket_num,date,transaction_start_time,transaction_end_time,num_items,ticket_total_value
0,000000000000,000003,2527,2020-07-01,07:03:30,07:03:45,4,296
1,000000000001,000003,2528,2020-07-01,07:04:22,07:04:35,10,300
2,000000000002,000003,2529,2020-07-01,07:04:55,07:06:15,2,373
3,000000000003,000003,2530,2020-07-01,07:06:22,07:06:46,7,862
4,000000000004,000003,2531,2020-07-01,07:08:13,07:08:54,0,0

### Items in Transaction
No missing values

In [108]:
item_transaction_data = pd.read_csv(data_path + "items_transactions.csv", dtype=str)
item_transaction_data['dept_num'] = pd.to_numeric(item_transaction_data.dept_num)
item_transaction_data['qty_sold'] = pd.to_numeric(item_transaction_data.qty_sold)
item_transaction_data['item_price'] = pd.to_numeric(item_transaction_data.item_price)
item_transaction_data['qty_is_weight'] = pd.to_numeric(item_transaction_data.qty_is_weight)
item_transaction_data['date'] = pd.to_datetime(item_transaction_data.date)

print(f"shape: {item_transaction_data.shape}")

item_transaction_data.head()

shape: (1293520, 9)

,global_transaction_id,item_id,dept_num,qty_sold,item_price,qty_is_weight,ticket_num,date,time_scanned
0,000000000000,00000000004889,6,3,99,0,2527,2020-07-01,07:03:30
1,000000000000,00000000003125,6,460,429,1,2527,2020-07-01,07:03:34
2,000000000001,00000000000005,20,4,100,0,2528,2020-07-01,07:04:22
3,000000000001,00000000000002,20,6,100,0,2528,2020-07-01,07:04:25
4,000000000002,00007013201045,1,1,299,0,2529,2020-07-01,07:05:06

### Item Descriptions
36885 ecomm missing values
1516 unique catagories

In [73]:
item_descriptions_data = pd.read_csv(data_path + "items_descriptions.csv", dtype=str)
print(f"shape: {item_descriptions_data.shape}")
item_descriptions_data.head()

shape: (48551, 6)

,item_id,description,ecomm_description,category,item_type,upc
0,00000000000001,PAN DULCE SENCILLO,"Mexican Sweet Bread/Pan Dulce Mexicano, 1 Count",020101020,0,00000000000010
1,00000000000002,BOLILLO FRENCH ROLLS,"Bolillo, French Rolls, 1 Count",020101210,0,00000000000020
2,00000000000003,BOLILLO QUESO/CHILE JALAP,"Jalapeño and Cheese Bolillo, 1 Count",020101210,0,00000000000030
3,00000000000004,EMPANADA,NaN,020101020,0,00000000000040
4,00000000000005,MIni Bolillo,"BOLILLO SMALL, 2 OZ",020101210,0,00000000000050

In [74]:
len(item_descriptions_data.category.unique())
item_descriptions_data['item_type'].value_counts()

0      44432
30      2052
12       640
16       603
14       391
15       213
101      141
102       37
31        18
7         14
8          9
17         1
Name: item_type, dtype: int64

In [109]:
df = item_transaction_data[['qty_sold', 'item_price']].loc[item_transaction_data['qty_is_weight']==0]
df['revenue'] = df['qty_sold'] * df['item_price']

df.revenue.describe()

count    941908.000000
mean        298.895562
std         445.707479
min      -35078.000000
25%          99.000000
50%         199.000000
75%         399.000000
max       40000.000000
Name: revenue, dtype: float64